.SubScene {
    -fx-background-color: lightblue;
}

.LogIn {
    -fx-background-color: lightblue;
}

.UserDashboard {
    -fx-background-color: lightblue;
}

.HomeInterfaceBorder {
    -fx-background-color: lightblue;
}

.HomeInterfaceFlow {
    -fx-background-color: lightblue;
}

.UniversalButton {
    -fx-background-color: rgba(215,243,245,0.5);
}

.UniversalButton:hover {
    -fx-background-color: rgba(215,243,245,1);
}

.UniversalTextBox {
    -fx-background-color: White;
}

.ScrollPane {
    -fx-background-color: rgb(226, 245, 243);
    -fx-border-color: white;
}

.ScrollListItem {
    -fx-background-color: rgba(215,243,245,0.5);
    -fx-padding: 20px;
    -fx-text-alignment: center;
    -fx-min-width: 50px;

}

.ScrollListItem:hover {
    -fx-background-color: rgba(215,243,245,1);
}

.ScrollContainer {
    -fx-background-color: rgba(215,243,245,1);
}

.ScrollTitle {
    -fx-font-size: 30px;
}