# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea
.idea/misc.xml
.idea/modules.xml
.idea/Tawe-Lib-230.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/sqlite_jdbc_3_23_1.xml
.idea/checkstyle-idea.xml
out/production/Tawe-Lib-230/src/View/TransactionHistoryPage.fxml
out/production/Tawe-Lib-230/src/View/StaffInterface.fxml
out/production/Tawe-Lib-230/src/View/ResourceInterface.fxml
out/production/Tawe-Lib-230/src/View/ResourceFlowInterface.fxml
out/production/Tawe-Lib-230/src/View/ReservedInterface.fxml
out/production/Tawe-Lib-230/src/View/RequestedResourcesInterface.fxml
out/production/Tawe-Lib-230/src/View/RequestResourceByUserInterface.fxml
out/production/Tawe-Lib-230/src/View/ProfileImageSelector.fxml
out/production/Tawe-Lib-230/src/View/PopularListing.fxml
out/production/Tawe-Lib-230/src/View/LoginInterface.fxml
out/production/Tawe-Lib-230/src/View/LoanHistory.fxml
out/production/Tawe-Lib-230/src/View/ListAll.fxml
out/production/Tawe-Lib-230/src/View/ItemsDueInterface.fxml
out/production/Tawe-Lib-230/src/View/HomeInterface.fxml
out/production/Tawe-Lib-230/src/View/EditLaptopInterface.fxml
out/production/Tawe-Lib-230/src/View/EditDVDInterface.fxml
out/production/Tawe-Lib-230/src/View/EditBookInterface.fxml
out/production/Tawe-Lib-230/src/View/DrawingEnvironment.fxml
out/production/Tawe-Lib-230/src/View/DVDSearchMenu.fxml
out/production/Tawe-Lib-230/src/View/DVDList.fxml
out/production/Tawe-Lib-230/src/View/CopyLogInterface.fxml
out/production/Tawe-Lib-230/src/View/ComputerSearchMenu.fxml
out/production/Tawe-Lib-230/src/View/ComputerList.fxml
out/production/Tawe-Lib-230/src/View/BookSearchMenu.fxml
out/production/Tawe-Lib-230/src/View/BookList.fxml
out/production/Tawe-Lib-230/src/View/AddLaptopInterface.fxml
out/production/Tawe-Lib-230/src/View/AddDVDInterface.fxml
out/production/Tawe-Lib-230/src/View/AddBookInterface.fxml
out/production/Tawe-Lib-230/src/View/AccountSearchInterface.fxml
out/production/Tawe-Lib-230/src/View/AccountEditorInterface.fxml
out/production/Tawe-Lib-230/src/View/AccountCreatorInterface.fxml
out/production/Tawe-Lib-230/src/Resources/tawelibIcon.png
out/production/Tawe-Lib-230/src/Resources/laptopIcon.png
out/production/Tawe-Lib-230/src/Resources/dvdIcon.png
out/production/Tawe-Lib-230/src/Resources/bookIcon.png
out/production/Tawe-Lib-230/src/Resources/CoreStyle.css
out/production/Tawe-Lib-230/src/ResourceImages/TheTwoTowers.jpg
out/production/Tawe-Lib-230/src/ResourceImages/TheReturnOfTheKing.jpg
out/production/Tawe-Lib-230/src/ResourceImages/TheFellowshipOfTheRing.jpg
out/production/Tawe-Lib-230/src/ResourceImages/SurfacePro6.jpg
out/production/Tawe-Lib-230/src/ResourceImages/ReadyPlayerOne.jpg
out/production/Tawe-Lib-230/src/ResourceImages/MacBookPro2018.jpg
out/production/Tawe-Lib-230/src/ResourceImages/MacBookPro2017.jpg
out/production/Tawe-Lib-230/src/ResourceImages/LaLaLand.jpg
out/production/Tawe-Lib-230/src/ResourceImages/Incredibles2.jpg
out/production/Tawe-Lib-230/src/ResourceImages/GrimmsFairyTales.jpg
out/production/Tawe-Lib-230/src/ResourceImages/FirstMan.jpg
out/production/Tawe-Lib-230/src/ResourceImages/FantasticBeasts.jpg
out/production/Tawe-Lib-230/src/ResourceImages/Dunkirk.jpg
out/production/Tawe-Lib-230/src/Icons/trending.png
out/production/Tawe-Lib-230/src/Icons/Users.png
out/production/Tawe-Lib-230/src/Icons/StraightLine.png
out/production/Tawe-Lib-230/src/Icons/Statistics.png
out/production/Tawe-Lib-230/src/Icons/SearchAccounts.png
out/production/Tawe-Lib-230/src/Icons/ResourceManager.png
out/production/Tawe-Lib-230/src/Icons/ResourceLog.png
out/production/Tawe-Lib-230/src/Icons/ProfileImageSelector.png
out/production/Tawe-Lib-230/src/Icons/ParticleDraw.png
out/production/Tawe-Lib-230/src/Icons/NightMode.png
out/production/Tawe-Lib-230/src/Icons/LogOut.png
out/production/Tawe-Lib-230/src/Icons/LogIn.png
out/production/Tawe-Lib-230/src/Icons/ListAll.png
out/production/Tawe-Lib-230/src/Icons/Line.png
out/production/Tawe-Lib-230/src/Icons/Home.png
out/production/Tawe-Lib-230/src/Icons/Folder.png
out/production/Tawe-Lib-230/src/Icons/Fines_DueDates.png
out/production/Tawe-Lib-230/src/Icons/Eraser.png
out/production/Tawe-Lib-230/src/Icons/EditUser.png
out/production/Tawe-Lib-230/src/Icons/EditResource.png
out/production/Tawe-Lib-230/src/Icons/DeleteResource.png
out/production/Tawe-Lib-230/src/Icons/DefaultAvatar.png
out/production/Tawe-Lib-230/src/Icons/Copies.png
out/production/Tawe-Lib-230/src/Icons/Confirm.png
out/production/Tawe-Lib-230/src/Icons/ClearCanvas.png
out/production/Tawe-Lib-230/src/Icons/Cancel.png
out/production/Tawe-Lib-230/src/Icons/AddUser.png
out/production/Tawe-Lib-230/src/Icons/AddResource.png
out/production/Tawe-Lib-230/src/DefaultAvatars/Avatar9.png
out/production/Tawe-Lib-230/src/DefaultAvatars/Avatar8.png
out/production/Tawe-Lib-230/src/DefaultAvatars/Avatar7.png
out/production/Tawe-Lib-230/src/DefaultAvatars/Avatar6.png
out/production/Tawe-Lib-230/src/DefaultAvatars/Avatar5.png
out/production/Tawe-Lib-230/src/DefaultAvatars/Avatar4.png
out/production/Tawe-Lib-230/src/DefaultAvatars/Avatar3.png
out/production/Tawe-Lib-230/src/DefaultAvatars/Avatar2.png
out/production/Tawe-Lib-230/src/DefaultAvatars/Avatar10.png
out/production/Tawe-Lib-230/src/DefaultAvatars/Avatar1.png
out/production/Tawe-Lib-230/src/CustomAvatars/961418(5).png
out/production/Tawe-Lib-230/src/CustomAvatars/123456(3).png
out/production/Tawe-Lib-230/src/CustomAvatars/123456(2).png
out/production/Tawe-Lib-230/src/CustomAvatars/1(4).png
out/production/Tawe-Lib-230/View/UserDashboardInterface.fxml
out/production/Tawe-Lib-230/View/TransactionManager.fxml
out/production/Tawe-Lib-230/View/TransactionHistoryPage.fxml
out/production/Tawe-Lib-230/View/StaffInterface.fxml
out/production/Tawe-Lib-230/View/ResourceInterface.fxml
out/production/Tawe-Lib-230/View/ResourceFlowInterface.fxml
out/production/Tawe-Lib-230/View/ReservedInterface.fxml
out/production/Tawe-Lib-230/View/RequestedResourcesInterface.fxml
out/production/Tawe-Lib-230/View/RequestResourceByUserInterface.fxml
out/production/Tawe-Lib-230/View/ProfileImageSelector.fxml
out/production/Tawe-Lib-230/View/PopularListing.fxml
out/production/Tawe-Lib-230/View/LoginInterface.fxml
out/production/Tawe-Lib-230/View/LoanHistory.fxml
out/production/Tawe-Lib-230/View/ListAll.fxml
out/production/Tawe-Lib-230/View/ItemsDueInterface.fxml
out/production/Tawe-Lib-230/View/HomeInterface.fxml
out/production/Tawe-Lib-230/View/EditLaptopInterface.fxml
out/production/Tawe-Lib-230/View/EditDVDInterface.fxml
out/production/Tawe-Lib-230/View/EditBookInterface.fxml
out/production/Tawe-Lib-230/View/DrawingEnvironment.fxml
out/production/Tawe-Lib-230/View/DVDSearchMenu.fxml
out/production/Tawe-Lib-230/View/DVDList.fxml
out/production/Tawe-Lib-230/View/CopyLogInterface.fxml
out/production/Tawe-Lib-230/View/ComputerSearchMenu.fxml
out/production/Tawe-Lib-230/View/ComputerList.fxml
out/production/Tawe-Lib-230/View/BookSearchMenu.fxml
out/production/Tawe-Lib-230/View/BookList.fxml
out/production/Tawe-Lib-230/View/AddLaptopInterface.fxml
out/production/Tawe-Lib-230/View/AddDVDInterface.fxml
out/production/Tawe-Lib-230/View/AddBookInterface.fxml
out/production/Tawe-Lib-230/View/AccountSearchInterface.fxml
out/production/Tawe-Lib-230/View/AccountEditorInterface.fxml
out/production/Tawe-Lib-230/View/AccountCreatorInterface.fxml
out/production/Tawe-Lib-230/TaweLibDB.db
out/production/Tawe-Lib-230/Resources/tawelibIcon.png
out/production/Tawe-Lib-230/Resources/laptopIcon.png
out/production/Tawe-Lib-230/Resources/dvdIcon.png
out/production/Tawe-Lib-230/Resources/bookIcon.png
out/production/Tawe-Lib-230/Resources/CoreStyle.css
out/production/Tawe-Lib-230/ResourceImages/TheTwoTowers.jpg
out/production/Tawe-Lib-230/ResourceImages/TheReturnOfTheKing.jpg
out/production/Tawe-Lib-230/ResourceImages/TheFellowshipOfTheRing.jpg
out/production/Tawe-Lib-230/ResourceImages/SurfacePro6.jpg
out/production/Tawe-Lib-230/ResourceImages/ReadyPlayerOne.jpg
out/production/Tawe-Lib-230/ResourceImages/MacBookPro2018.jpg
out/production/Tawe-Lib-230/ResourceImages/MacBookPro2017.jpg
out/production/Tawe-Lib-230/ResourceImages/LaLaLand.jpg
out/production/Tawe-Lib-230/ResourceImages/Incredibles2.jpg
out/production/Tawe-Lib-230/ResourceImages/GrimmsFairyTales.jpg
out/production/Tawe-Lib-230/ResourceImages/FirstMan.jpg
out/production/Tawe-Lib-230/ResourceImages/FantasticBeasts.jpg
out/production/Tawe-Lib-230/ResourceImages/Dunkirk.jpg
out/production/Tawe-Lib-230/README.md
out/production/Tawe-Lib-230/Icons/trending.png
out/production/Tawe-Lib-230/Icons/Users.png
out/production/Tawe-Lib-230/Icons/StraightLine.png
out/production/Tawe-Lib-230/Icons/Statistics.png
out/production/Tawe-Lib-230/src/View/UserDashboardInterface.fxml
out/production/Tawe-Lib-230/src/View/TransactionManager.fxml
out/production/Tawe-Lib-230/Icons/SearchAccounts.png
out/production/Tawe-Lib-230/Icons/ResourceManager.png
out/production/Tawe-Lib-230/Icons/ResourceLog.png
out/production/Tawe-Lib-230/Icons/ProfileImageSelector.png
out/production/Tawe-Lib-230/Icons/ParticleDraw.png
out/production/Tawe-Lib-230/Icons/NightMode.png
out/production/Tawe-Lib-230/Icons/LogOut.png
out/production/Tawe-Lib-230/Icons/LogIn.png
out/production/Tawe-Lib-230/Icons/ListAll.png
out/production/Tawe-Lib-230/Icons/Line.png
out/production/Tawe-Lib-230/Icons/Home.png
out/production/Tawe-Lib-230/Icons/Folder.png
out/production/Tawe-Lib-230/Icons/Fines_DueDates.png
out/production/Tawe-Lib-230/Icons/Eraser.png
out/production/Tawe-Lib-230/Icons/EditUser.png
out/production/Tawe-Lib-230/Icons/EditResource.png
out/production/Tawe-Lib-230/Icons/DeleteResource.png
out/production/Tawe-Lib-230/Icons/DefaultAvatar.png
out/production/Tawe-Lib-230/Icons/Copies.png
out/production/Tawe-Lib-230/Icons/Confirm.png
out/production/Tawe-Lib-230/Icons/ClearCanvas.png
out/production/Tawe-Lib-230/Icons/Cancel.png
out/production/Tawe-Lib-230/Icons/AddUser.png
out/production/Tawe-Lib-230/Icons/AddResource.png
out/production/Tawe-Lib-230/DefaultAvatars/Avatar9.png
out/production/Tawe-Lib-230/DefaultAvatars/Avatar8.png
out/production/Tawe-Lib-230/DefaultAvatars/Avatar7.png
out/production/Tawe-Lib-230/DefaultAvatars/Avatar6.png
out/production/Tawe-Lib-230/DefaultAvatars/Avatar5.png
out/production/Tawe-Lib-230/DefaultAvatars/Avatar4.png
out/production/Tawe-Lib-230/DefaultAvatars/Avatar3.png
out/production/Tawe-Lib-230/DefaultAvatars/Avatar2.png
out/production/Tawe-Lib-230/DefaultAvatars/Avatar10.png
out/production/Tawe-Lib-230/DefaultAvatars/Avatar1.png
out/production/Tawe-Lib-230/CustomAvatars/961418(5).png
out/production/Tawe-Lib-230/CustomAvatars/123456(3).png
out/production/Tawe-Lib-230/CustomAvatars/123456(2).png
out/production/Tawe-Lib-230/CustomAvatars/1(4).png
out/production/Tawe-Lib-230/.idea/uiDesigner.xml
out/production/Tawe-Lib-230/.idea/dataSources.xml
out/production/Tawe-Lib-230/.idea/dataSources.local.xml
out/production/Tawe-Lib-230/.idea/checkstyleidea-libs/readme.txt
out/production/Tawe-Lib-230/.idea/checkstyle-idea.xml
out/production/Tawe-Lib-230/.gitignore
.idea/uiDesigner.xml
.idea/dataSources.xml
.idea/dataSources.local.xml
